@import "tailwindcss";
@plugin "@tailwindcss/typography";
@config "../../tailwind-typography.config.js";

:root {
  /* минимальные боковые отступы контейнера */
  --container-padding: 20px;

  /* размер контейнера секции начиная с phone */
  --container-phone: 640px;

  /* размер контейнера секции начиная с tablet */
  --container-tablet: 768px;

  /* размер контейнера секции начиная с laptop */
  --container-laptop: 1306px;

  --transition: 0.2s ease-in-out;
}
